<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
      <a href="/" class="logo">TasteJourney</a>
      <button class="menu" aria-label="navigation-menu">
        <i class="bx bx-menu"></i>
        <i class="bx bx-x"></i>
      </button>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://github.com/Ariwira">About Us</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero" role="img" aria-label="hero image">
        <div class="hero-text">
          <h2>Welcome to TasteJourney</h2>
          <p>Your Premier Destination to Explore Global Culinary Delights.</p>
        </div>
      </section>
      <section class="main-section">
        <h2 id="main-content" tabindex="0">Explore Restaurant</h2>
        <div id="restaurantList" class="restaurant-list">tes</div>
      </section>
    </main>
    <footer tabindex="0">
      <p>copyright &copy 2023 - TasteJourney</p>
    </footer>
  </body>
</html>
