@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  background-color: rgb(249, 249, 249);
}

.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(0, 0, 0);
  padding: 1em;
  z-index: 100;
  text-decoration: none;
  font-weight: 500;

  &:focus {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    outline: none;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 5%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(35px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  .logo {
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    text-decoration: none;
  }

  nav {
    display: none;
    width: 100%;

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      li {
        list-style: none;
        padding: 1rem 0;

        a {
          font-size: 1.15rem;
          text-decoration: none;
          color: white;
          font-weight: 500;
          position: relative;
          padding: 0.5rem 0;
          transition: color 0.3s ease;

          &.active {
            bottom: 0;
            border-bottom: 0.2rem solid white;
          }

          &:after {
            content: "";
            position: absolute;
            bottom: -0.2rem;
            left: 0;
            width: 100%;
            height: 0.2rem;
            background-color: transparent;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease, background-color 0.3s ease;
            transition-delay: 0.2s;
          }

          &:hover {
            &:after {
              transform: scaleX(1);
              background-color: white;
            }
          }
        }
      }
    }
  }
}

nav.drawer {
  display: flex;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(../public/images/heros/hero-image_4.jpg);
  background-size: cover;
  background-position: center;
}

.hero-text {
  text-align: center;
  margin: 0 5%;
  color: #ffffff;

  p {
    font-size: 1.1rem;
  }
}

.menu {
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  font-size: 2.8rem;
  color: white;
  cursor: pointer;
}

.bx-x {
  display: none;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5em;
}

section {
  padding: 1rem 0;
}

#main-content {
  font-size: 1.5rem;
  color: #1e1e1e;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0.5em;
  border-bottom: 0.2rem solid #1e1e1e;
  margin: 1em 5%;
}

.restaurant-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  margin: 2rem 5%;

  .restaurant-item {
    display: flex;
    justify-content: center;
  }

  .card {
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 0.8rem;
    transition: all ease-in-out 0.4s;

    .card-text {
      text-align: justify;

      .text-desc {
        font-size: 0.9rem;
        margin-top: 0.5rem;
        color: #373737;
      }

      h3 {
        font-size: 1.1rem;
        display: inline;
      }
    }
    .container-img {
      width: 100%;
      max-height: 200px;
      border-radius: 0.5rem;
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
      overflow: hidden;

      .restaurant-img {
        width: 100%;
        object-fit: cover;
        transition: all ease-in-out 0.4s;
      }
    }

    .rating {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
      padding: 0.2em 0.4em;
      border-radius: 0.3rem;
      font-size: 1rem;
      color: white;
      background-color: rgba(0, 0, 0, 0.6);

      .star-icon {
        color: #fcbb23;
        font-size: 1rem;
      }
    }
  }
}

.card:hover {
  box-shadow: rgba(6, 24, 44, 0.2) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.4) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  .restaurant-img {
    transform: scale(1.25);
  }
}

.city {
  font-weight: 500;
}

.hide {
  display: none;
}

.read-more-button {
  font-weight: 600;
  padding: 0.75rem 2rem;
  color: #1e1e1e;
  background-color: #ffffff;
  margin-top: auto;
  border-radius: 0.4rem;
  border: 0.1rem solid #1e1e1e;
  align-self: flex-start;
  &:hover {
    background-color: #1e1e1e;
    color: #ffffff;
  }
}

footer {
  color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-top: 0.1rem solid rgba(55, 55, 55, 0.3);
  font-weight: 600;
}

/* Media Query for tablet */
@media screen and (min-width: 768px) {
  .logo {
    font-size: 1.7rem;
  }

  .hero-text h2 {
    font-size: 1.5rem;
  }

  .hero-text p {
    font-size: 1.3rem;
  }

  .restaurant-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 0 5%;
  }

  section {
    padding: 2rem 0;
  }
}

/* Media Query for desktop */
@media screen and (min-width: 1024px) {
  .logo {
    font-size: 2rem;
  }

  header {
    padding: 1.3rem 10%;
  }

  .menu {
    display: none;
  }
  header {
    nav {
      display: flex;
      width: auto;
      ul {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        li {
          padding: 0;
          a {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .hero-text {
    margin: 0 10%;

    h2 {
      font-size: 1.7rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  #main-content {
    font-size: 1.7rem;
    margin: 0 10%;
    margin-bottom: 2rem;
  }

  .restaurant-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 0 10%;
  }

  .card {
    .restaurant-img {
      height: 200px;
    }
  }

  footer {
    font-size: 1.2rem;
    padding: 1.5em 0;
  }
}
