@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  scroll-behavior: smooth;
}

html {
  background-color: rgb(253, 253, 253);
  overflow-x: hidden;
}

.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(0, 0, 0);
  padding: 1em;
  z-index: 100;
  text-decoration: none;
  font-weight: 500;

  &:focus {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    outline: none;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 5%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(35px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  .logo {
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    text-decoration: none;
  }

  nav {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: max-height 1s ease-in-out, opacity 1s ease-in-out;

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      li {
        list-style: none;
        padding: 1rem 0;

        a {
          font-size: 1.15rem;
          text-decoration: none;
          color: white;
          font-weight: 500;
          position: relative;
          padding: 0.5rem 0;
          transition: color 0.3s ease;

          &.active {
            bottom: 0;
            border-bottom: 0.2rem solid white;
          }

          &:after {
            content: '';
            position: absolute;
            bottom: -0.2rem;
            left: 0;
            width: 100%;
            height: 0.2rem;
            background-color: transparent;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease, background-color 0.3s ease;
            transition-delay: 0.2s;
          }

          &:hover {
            &:after {
              transform: scaleX(1);
              background-color: white;
            }
          }
        }
      }
    }
  }
}

nav.drawer {
  display: flex;
  opacity: 1;
  max-height: 1000px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(../public/images/heros/hero-image_4.jpg);
  background-size: cover;
  background-position: center;
}

.hero-text {
  text-align: center;
  margin: 0 5%;
  color: #ffffff;

  h2 {
    font-size: 5vh;
    line-height: 1.2em;
  }

  p {
    font-size: 2.5vh;
  }
}

.menu {
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  font-size: 2.8rem;
  color: white;
  cursor: pointer;
}

.bx-x {
  display: none;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

section {
  padding: 1rem 0;
}

#main-content {
  font-size: 1.5rem;
  color: #1e1e1e;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0.5em;
  border-bottom: 0.2rem solid #1e1e1e;
  margin: 1em 5%;
}

.restaurant-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  margin: 3rem 5%;

  .restaurant-item {
    display: flex;
    justify-content: center;
  }

  .card {
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: rgb(253, 253, 253);
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 0.8rem;
    transition: all ease-in-out 0.4s;

    .card-text {
      text-align: justify;

      .text-desc {
        font-size: 0.9rem;
        margin-top: 0.5rem;
        color: #373737;
      }

      h3 {
        font-size: 1.1rem;
        display: inline;
      }
    }
    .container-img {
      width: 100%;
      max-height: 200px;
      border-radius: 0.5rem;
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
      overflow: hidden;

      .restaurant-img {
        width: 100%;
        object-fit: cover;
        transition: all ease-in-out 0.4s;
      }
    }

    .rating {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
      padding: 0.2em 0.4em;
      border-radius: 0.3rem;
      font-size: 1rem;
      color: white;
      background-color: rgba(0, 0, 0, 0.6);

      .star-icon {
        color: #fcbb23;
        font-size: 1rem;
      }
    }
  }
}

.card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .restaurant-img {
    transform: scale(1.1);
  }
}

.city {
  font-weight: 500;
}

.text-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.group-button {
  display: flex;
  align-items: center;
  height: 44px;
  gap: 0.5rem;
}

.detail-button,
.like-button {
  font-size: 1rem;
  height: 100%;
  display: flex;
  color: #1e1e1e;
  background-color: #ffffff;
  border-radius: 0.4rem;
  border: 0.1rem solid #1e1e1e;
  align-items: center;
  justify-content: center;
  &:hover,
  &:hover .likeButton {
    background-color: #1e1e1e;
    color: #ffffff;
  }
}

.detail-button {
  font-weight: 600;
  flex-grow: 1;
  text-decoration: none;
}

.like-button {
  font-size: 1.3rem;
  color: rgb(216, 216, 216);
  aspect-ratio: 1/1;
}

.likeButton {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
}

.favorite-section {
  margin-top: 86.4px;
  padding-top: 1rem;
  h2 {
    margin: 0 5%;
    font-size: 1.5rem;
    color: #1e1e1e;
    font-weight: 700;
    text-align: center;
    padding: 0.5em 0;
    border-bottom: 0.2rem solid #1e1e1e;
  }
}

.restaurant {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }
  h3 {
    margin: 0 5%;
    font-size: 1.4rem;
  }

  h4 {
    border-bottom: 0.1rem solid #1e1e1e;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.9rem;
    color: #373737;
  }

  .title-like-container {
    display: flex;
    margin: 0 5%;
    h3 {
      margin: auto;
      flex: 1;
    }
    button {
      padding: 0 0.5rem;
      aspect-ratio: 1/1;
    }
  }

  .restaurant__overview {
    margin: 0 5%;
    margin-top: 0.2rem;
    padding: 0.8rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #1e1e1e;
  }
  .restaurant__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 5%;
    .resto-info,
    .resto-menu,
    .resto-review {
      padding: 0.8rem;
      border-radius: 0.4rem;
      border: 0.1rem solid #1e1e1e;
    }

    .resto-menu {
      h4 {
        margin-bottom: 1rem;
      }
      h5 {
        font-size: 0.9rem;
      }
      li {
        font-size: 0.9rem;
        margin-left: 1.5rem;
      }
    }

    .makanan-minuman {
      display: grid;
      gap: 0.8rem;
    }

    .makanan,
    .minuman {
      padding: 0.8rem;
      border-radius: 0.4rem;
      border: 0.1rem solid #1e1e1e;
    }

    ul {
      h6,
      p {
        font-size: 0.9rem;
      }
      p {
        padding-bottom: 0.8em;
        margin-bottom: 0.8em;
        border-bottom: 0.05rem solid #1e1e1e30;
      }
    }
  }
}

footer {
  color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-top: 0.1rem solid rgba(55, 55, 55, 0.3);
  font-weight: 600;
}

// loader
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.loader {
  border: 16px solid #1e1e1e;
  border-top: 16px solid #d7d7cf;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 3s linear infinite;
}

.box {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
